@using ShopEx.Models

@{
    ViewBag.Title = "_Slider1";
}

<h2>@ViewBag.Oishee</h2>

/*foreach (Advertise1 item in Model)
{

    ViewBag.Title = "_Slider";
    byte[] byteData = item.Adphoto;
    //Convert byte arry to base64string
    string imreBase64Data = Convert.ToBase64String(byteData);
    string imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data);
    ViewBag.ImageData = imgDataURL;
}*/