<link href='https://fonts.googleapis.com/css?family=Athiti' rel='stylesheet'>
<div id="products">
    <div class="container products-padding">
        <div class="row text-center margin-b-40">
            <div class="col-sm-6 col-sm-offset-3">
                <br/>
                <h2><img src="~/Images/Sale.gif"></h2>
                <br/>

            </div>
        </div>
        <!--// end row -->
        <div class="row">
            <!-- Latest Products -->
            <div class="col-sm-4 sm-margin-b-50">
                <div class="margin-b-20">
                    <img class="img-responsive wow fadeIn animated" src="~/Images/artisan.jpg" alt="Latest Products Image" data-wow-duration=".3" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                </div>
                <h4><a href="#">Artisan</a> <span class="text-uppercase margin-l-20">Management</span></h4>
                <p>Artisan is having sale</p>
                <a class="button" href="#">Read More</a>
            </div>
            <!-- End Latest Products -->
            <!-- Latest Products -->
            <div class="col-sm-4 sm-margin-b-50">
                <div class="margin-b-20">
                    <img class="img-responsive wow fadeIn animated" src="~/Images/infinity.jpg" alt="Latest Products Image" data-wow-duration=".3" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                </div>
                <h4><a href="#">Infinity</a> <span class="text-uppercase margin-l-20">Developmeny</span></h4>
                <p>Infinity is having sale.</p>
                <a class="button" href="#">Read More</a>
            </div>
            <!-- End Latest Products -->
            <!-- Latest Products -->
            <div class="col-sm-4 sm-margin-b-50">
                <div class="margin-b-20">
                    <img class="img-responsive wow fadeIn animated" src="~/Images/lira.jpg" alt="Latest Products Image" data-wow-duration=".3" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                </div>
                <h4><a href="#">Lira import</a> <span class="text-uppercase margin-l-20">Design</span></h4>
                <p> Big deals on makeup products.</p>
                <a class="button" href="#">Read More</a>
            </div>
            <!-- End Latest Products -->
        </div>
        <!--// end row -->
    </div>
    <div class="container-full-width">
        <div class="row row-space-2">
            <div class="col-sm-6 sm-margin-b-4">

            </div>
            <div class="col-sm-6">

            </div>
        </div>
        <!--// end row -->
    </div>
</div>
