@{
    ViewBag.Title = "Home Page";
}
<h2><img src="~/Images/Sale.gif" style="width: 100%; height: 100px;"></h2>
@Html.Partial("_Slider")
@Html.Partial("Advertise")
@Html.Partial("Advertise2")




@Html.Partial("footer")



